@use '/src/styles/constants/colors';

.gnb {
  height: 40px;
  margin-top: 40px;
  line-height: 40px;

  ul {
    display: flex;

    li {
      flex: 1;
    }
  }

  a {
    color: colors.$BASIC_FONT_COLOR;
  }

  .navLink {
    letter-spacing: 2px;
  }

  .active {
    position: relative;
    font-weight: 700;
    box-shadow: 0 40px 60px 5px #ffffff;

    &::after {
      position: absolute;
      top: 50%;
      left: calc(50% - 5px);
      content: '•';
    }
  }
}
