@use '/src/styles/constants/colors';

.gnb {
  height: 50px;
  line-height: 50px;

  ul {
    display: flex;

    li {
      flex: 1;
    }
  }

  a {
    color: colors.$BASIC_FONT_COLOR;
    text-decoration: none;

    &:visited {
      text-decoration: none;
    }
  }
}
